name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        go-version: ['1.20', '1.21', '1.22']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: |
          go get gopkg.in/stretchr/testify.v1/assert
          go get -v -t ./...

      - name: Run tests
        run: go test -v ./...

      - name: Run tests with coverage
        if: matrix.go-version == '1.22'
        run: go test -v -coverprofile=coverage.out -covermode=atomic ./...

      - name: Update coverage report
        if: matrix.go-version == '1.22'
        uses: ncruces/go-coverage-report@main
